* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open-Sans", sans-serif;
  letter-spacing: 1px;
}

.header {
  padding: 1rem 2rem;
  background: rgba(24, 61, 115);
  border-bottom: solid 2px rgba(161, 219, 237);
}

.header h1 {
  color: #fff;
}

main {
  padding: 1rem 2rem;
}

.cta h3 {
  margin-bottom: 1rem;
}

.row {
  margin: 1rem auto;
  -webkit-display: flex;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto 3rem;
}

.product-block {
  width: calc(100% / 3);
  overflow: hidden;
  border-radius: 0.25rem;
  min-height: 400px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.product-block:not(:last-child) {
  margin-right: 2rem;
}

.product-block:hover {
  -webkit-box-shadow: 0 17px 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 17px 30px -5px rgba(0, 0, 0, 0.1);
}

.product-img {
  background-image: url("starter_files/images/beans.jpg");
  background-size: cover;
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.product-img.two {
  background-image: url("starter_files/images/boston-terrier.jpg");
}

.product-img.three {
  background-image: url("starter_files/images/boxer.jpg");
}

.product-img.four {
  background-image: url("starter_files/images/golden-lab.jpg");
}

.product-img.five {
  background-image: url("starter_files/images/little-dog.jpg");
}

.product-img.six {
  background-image: url("starter_files/images/old-shaggy.jpg");
}

.product-img.seven {
  background-image: url("starter_files/images/shih-tzu.jpg");
}

.product-img.eight {
  background-image: url("starter_files/images/young-bulldog.jpg");
}

.product-img.nine {
  background-image: url("starter_files/images/young-peppy.jpg");
}

.prod-title {
  position: absolute;
  bottom: 0;
  right: 5%;
  color: #fff;
  opacity: 0;
  transition: all 0.4s;
  font-size: 30px;
  font-family: "Oswald";
  text-transform: uppercase;
}

.product-block:hover .prod-title {
  bottom: 5%;
  opacity: 1;
}

.product-desc {
  padding: 5%;
}

li {
  display: inline;
}

p.bubble {
  display: inline-block;
  width: auto;
  padding: 2%;
  background: rgba(161, 219, 237);
  border-radius: 20px;
  font-size: 12px;
  margin: 5px auto;
  transition: all 0.4s;
}

p.bubble:hover {
  background: rgb(71, 169, 199);
}

.action-img {
  height: 300px;
  width: calc(100% / 3);
}

.action-img {
  background: linear-gradient(rgba(30, 9, 110, 0.5), rgba(30, 9, 110, 0.5)),
    url("starter_files/images/donate.jpg");
  background-position: center;
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.4s;
}

.action-img.volunteer {
  background: linear-gradient(rgba(30, 9, 110, 0.5), rgba(30, 9, 110, 0.5)),
    url("starter_files/images/volunteer.jpg");
}

.action-img.location {
  background: linear-gradient(rgba(30, 9, 110, 0.5), rgba(30, 9, 110, 0.5)),
    url("starter_files/images/location.png");
}

.action-img h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: Oswald;
}

.action-img:hover {
  transform: scale(1.05);
  z-index: 20;
  box-shadow: 0 1.5rem 4rem rgba(1, 1, 1, 0.8);
}
